In [1]:
# You have been provided with a dataset that contains the costs of advertising on different media channels and the corresponding
# sales of XYZ firm. Evaluate the dataset to:
# 1. Find the features or media channels used by the firm
# 2. Find the sales figures for each channel
# 3. Create a model to predict the sales outcome 
# 4. Split it into training and testing datasets for the model
# 5. Calculate the mean squared error (MSE)

In [2]:
# import the required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sc

In [18]:
# import the advertising dataset
df_ad = pd.read_csv('advertising.csv',index_col=0)

In [19]:
# view top 5 records
df_ad.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3   12.0
4  151.5   41.3       58.5   16.5
5  180.8   10.8       58.4   17.9

In [20]:
# view dataset size
df_ad.size

800

In [21]:
# view shape of dataset
df_ad.shape

(200, 4)

In [22]:
# view columns of dataset
df_ad.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [23]:
# create a feature object form columns
X_feature = df_ad[['Newspaper','Radio','TV']]

In [24]:
# view feature object
X_feature.head()

   Newspaper  Radio     TV
1       69.2   37.8  230.1
2       45.1   39.3   44.5
3       69.3   45.9   17.2
4       58.5   41.3  151.5
5       58.4   10.8  180.8

In [27]:
# create target object from sales columns which is a response in the dataset
Y_target = df_ad[['Sales']]

In [28]:
# view the target object
Y_target.head()

   Sales
1   22.1
2   10.4
3   12.0
4   16.5
5   17.9

In [29]:
# view feature object shape
X_feature.shape

(200, 3)

In [30]:
# view target object shape
Y_target.shape

(200, 1)

In [31]:
# split test and training data
# by default 75% training data and 25% testing data
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X_feature,Y_target,random_state=1)

In [33]:
# view shape of tain and test data sets for both feature and response
print (x_train.shape)
print (y_train.shape)
print (x_test.shape)
print (y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [35]:
# linear regession model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [36]:
# print intercept and coefficients
print(linreg.intercept_)
print(linreg.coef_)

[4.63380855]
[[0.00078783 0.10218027 0.05483762]]

In [37]:
# predicition
y_pred = linreg.predict(x_test)
y_pred

array([[21.29142142],
       [18.04194205],
       [10.03065109],
       [21.04818991],
       [20.75167113],
       [24.52948332],
       [16.85936471],
       [15.69800653],
       [10.17237239],
       [18.90266535],
       [15.82750789],
       [10.53768469],
       [18.86292327],
       [15.57969067],
       [17.89853384],
       [15.35974564],
       [13.76329903],
       [21.00074026],
       [10.03000895],
       [19.20973979],
       [11.12327234],
       [12.18140998],
       [ 8.67037889],
       [11.96248005],
       [12.63332284],
       [16.83484748],
       [ 9.75317608],
       [21.06453498],
       [18.075131  ],
       [19.52477289],
       [22.04440958],
       [17.90745151],
       [16.48534479],
       [14.79190923],
       [21.3573104 ],
       [16.9364024 ],
       [17.18742868],
       [12.33688324],
       [21.02974736],
       [ 7.77584247],
       [ 5.413222  ],
       [ 9.64006117],
       [ 6.91408859],
       [19.22413789],
       [ 7.93800502],
       [15.16854596],
       [13.73132724],
       [21.01419263],
       [20.49929224],
       [20.57792216]])

In [40]:
# import required libraries for calculation mse
from sklearn import metrics

In [41]:
# calculate the mse (mean sqaure error)
num = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print(num)

1.5096109295725841

In [ ]:
#

In [ ]:
#

In [ ]:
#

In [ ]:
#